.container{
    padding-right: 2cm;
    padding-left: 2cm;
    text-align: center;
}
h1{
    color: aqua;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.card{
    margin-left: 10cm;
    margin-right: 10cm;
    background-color: rgb(105, 232, 120);
    
}
.card1{
    text-align: center;
}
h2{
    color: rgb(7, 19, 245);
}